* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
  color: #fff;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#navigation {

}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}

.move-to-corner {
  animation: move-to-corner linear 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#hammer {
  background: url('../img/one-hammer-svgrepo-com.svg');
  width:50px;
  height: 50px;
  animation: swing-hammer linear .75s infinite alternate;
}

#anvil {
  background: url('../img/anvil-svgrepo-com.svg');
  width: 100;
  height: 100;
}

#play-message {
  opacity: 0;
  position: fixed;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  animation: fade-in ease-out 2s  2 alternate;
  animation-delay: 3s;
}

#canvas_wrapper {
  width: calc(100vmin - 100px);
  height: calc(100vmin - 100px);
  margin: 0 auto;
  padding-top: 45px;
}

#canvas {
  width: 100%;
  height: 100%;
}

@keyframes swing-hammer {
  0%   {transform-origin: left; transform: rotate(-15deg) translate(-10%, 15%);}
  100% {transform-origin: left; transform: rotate(40deg) translate(50%, 0%);}
}

@keyframes move-to-corner {
  0%   {transform: translate(calc(50vw - 50%), calc(50vh - 50%));}
  100% {transform: translate(0, -25%) scale(.5);}
}

@keyframes fade-in {
  0%   {opacity: 0}
  100% {opacity: 100}
}
